.box{
  width: 150px;
  height: 180px;
  background: skyblue;
  text-align: center;
}
.top_date{
  font-size: 14px;
  color: #ffffff;
  line-height: 60px;
}
.number{
  width: 75px;
  height: 75px;
  background: pink;
  margin: 15px auto;
  font-size: 50px;
  color: #ffffff;
  line-height: 75px;
}
